# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 忽略 cmake build 文件夹
/cmake-build

# 忽略 boost 库源代码
# /thirdparty
# /install
.cache
*.pdf

# mac 文件 是macOS系统特有的文件，通常用于存储文件夹的自定义属性，如窗口位置、图标大小或背景颜色等。
.DS_Store